.cell {
  border: solid black 1px;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.cell.row-enforced {
  border-top: solid black 7px;
}

.cell.column-enforced {
  border-left: solid black 3px;
}

.cell__textbox {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;

  z-index: 2;
  background-color: transparent;

  padding: 0;
  border: none;
}

.cell__textbox.user-filled {
  color: darkblue;
}

.cell__textbox.pre-filled {
  color: black;
}

.cell__textbox.highlighted {
  background-color: skyblue;
}

.cell.highlighted {
  background-color: lightblue;
}

.note-number.highlighted {
  background-color: skyblue;
  font-weight: bold;
}

.cell-notes {
  position: absolute;
  z-index: 1;

  display: grid;

  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: 
    "number1 number2 number3"
    "number4 number5 number6"
    "number7 number8 number9";

  justify-content: space-between;
  align-content: space-between;

  width: 100%;
  height: 100%;
}

.note-number {
  display: flex;
  align-items: center;
  justify-content: center;
}