.sudoku-row {
    display: flex;
}

.cell {
    border: solid black 1px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.row-enforced {
    border-top: solid black 7px;
}

.cell.column-enforced {
    border-left: solid black 3px;
}

.cell__button {
    width: 100%;
    height: 100%;
}

.cell__textbox {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.cell__textbox.user-filled {
    color: blue;
}

.cell__textbox.pre-filled {
    color: black;
}
